<div class="container">
    <h2>Login Details</h2>
    <form class="col-md-6" #formLogin="ngForm">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">User Name</label>

          <input type="text" name="Username" id="form2Example1" #Username="ngModel" [(ngModel)]="loginData.Username" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>

          <input type="password" name="Password"  #Password="ngModel" [(ngModel)]="loginData.Password" id="form2Example2" class="form-control" />
        </div>

        <!-- 2 column grid layout for inline styling -->
        <!-- <div class="row mb-4">
          <div class="col d-flex justify-content-center">
             Checkbox -->
            <!-- <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div> -->
          <!-- </div> -->

          <!-- <div class="col">
             Simple link -->
            <!-- <a href="#!">Forgot password?</a> -->
          <!-- </div> -->
        <!-- </div> -->

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="onLogin(formLogin)">Login</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
</div>
